* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  min-height: 100vh;
  font-family: "Google Sans", system-ui, sans-serif;
  background: #020024;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

button,
input {
  font-family: inherit;
}

.flex-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: #fff;
  color: #444;
  border-radius: 0.5em;
}

.date {
  color: #444444a9;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

hr {
  margin: 1rem 0;
  border: none;
  border-bottom: 2px solid #eee;
}

button {
  margin-left: auto;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  transition: transform 0.1s;
}

.button--primary {
  background: #020024;
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #eee;
  font-weight: 700;
  font-size: 16px;
}

button:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
