* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  min-height: 100vh;
  font-family: "Google Sans", system-ui, sans-serif;
  background: #020024;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

button,
input {
  font-family: inherit;
}

.flex-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: #fff;
  color: #444;
  border-radius: 0.5em;
}

.date {
  color: #444444a9;
  font-size: 14px;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

hr {
  margin: 1rem 0;
  border: none;
  border-bottom: 2px solid #eee;
}

button {
  margin-left: auto;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  transition: transform 0.1s;
}

.button--primary {
  background: #020024;
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #eee;
  font-weight: 700;
  font-size: 16px;
}

.button--primary:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.exercise {
  border-radius: 0.5em;
  border-left: 4px solid rgba(9, 9, 121, 0.35);
  padding: 1rem;
  background-color: rgba(9, 9, 121, 0.03);
  margin-bottom: 1rem;
}

.exercise:last-child {
  margin-bottom: 0;
}

.exercise__header {
  display: flex;
  justify-content: space-between;
}
.action-btns button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #888;
}
.action-btns button:hover {
  background-color: #eee;
}

.set {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5em;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.set p {
  color: rgba(9, 9, 121, 0.65);
  font-size: 14px;
  font-weight: 700;
}

.set label,
.set input {
  display: block;
  width: 100%;
}

label {
  font-size: 12px;
  color: #999;
  font-weight: 700;
  margin-bottom: 3px;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.5em;
}

input:focus {
  outline-color: rgba(9, 9, 121, 0.35);
}

.set div {
  flex-grow: 1;
}

.btn--delete {
  color: crimson;
  background-color: rgba(240, 45, 84, 0.185);
  font-weight: 900;
  font-size: 14px;
  display: block;
  padding: 0;
  width: 2rem;
  height: 2rem;
}
